* {
	margin: 0;
	padding: 0;
}

.color-boxes div {
	width: 40px;
	height: 40px;

	margin: 4px;

	float: left;

	border: 1px solid #000000;
}

.colorpicker-container {
	display: none;
}





/* Start colorpicker */
.colorpicker {	
	padding: 6px;

	float: left;

	font-family: Trebuchet MS,Lucida Sans Unicode,Arial,sans-serif;
	font-size: 12px;

	background: #f9f9f9;
	
	border: 1px solid #999999;
}
	.colorpicker canvas {
		vertical-align: bottom;
	}

	/* Palette */
	.colorpicker .palette-container {
		margin-right: 6px;

		position: relative;

		float: left;

		border: 1px solid #000000;
	}
		.colorpicker .palette-container .palette-pointer {
			width: 13px;
			height: 13px;

			padding: 0;

			position: absolute;

			z-index: 10000;

			background: url('../images/pointer.gif') center center no-repeat;
		}

	/* Hue */
	.colorpicker .hue-container {
		float: left;

		position: relative;

		border: 1px solid #000000;
	}
		.colorpicker .hue-container .hue-pointer {
			width: 13px;
			height: 13px;

			padding: 0;

			position: absolute;

			z-index: 10000;

			background: url('../images/pointer.gif') center center no-repeat;
		}

	/* Color inputs */
	.colorpicker .rgb-container, .colorpicker .hex-input-container {
		margin-top: 4px;

		clear: both;
	}
		.colorpicker .rgb-container .rgb-input {
			width: 26px;

			margin: 2px;
		}
		.colorpicker .hex-container .hex-input {
			width: 48px;

			margin: 2px;
		}

	/* Preview color */
	.colorpicker .preview-container {
		width: 40px;

		border: 1px solid #000000;
		overflow: hidden;
	}
		.colorpicker .preview-container .preview-color {
			width: 20px;
			height: 20px;

			float: left;
		}
		.colorpicker .preview-container .current-color {
			width: 20px;
			height: 20px;

			float: left;
		}